@import '~bootstrap/scss/variables';

// spacings
$nav-width: 20rem;
$wrapper-width: 900px;

// colors
$true-white: #fff;
$true-black: #000;
$gray: #292b2c;
$light-gray: #909598;
$yams-light-blue: #32bea6;
$yams-blue: #2c3e50;
