@import '../../../../styles/custom-variables';

img {
  max-width: 100%;
}

.artist-avatar-picture {
  background-size: cover;
  width: 100%;
  padding-bottom: 100%;
  display: block;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(25,25,34,.5);
  transition: box-shadow .5s ease;
}

.artist-name {
  a {
    color: $gray;
  }
}

:host{
  &:hover {
    .artist-avatar-picture {
      box-shadow: 0 10px 20px rgba(25,25,34,.5);
    }
  }
}
