<aside id="sidebar">
    <div class="sidenav-outer">
        <div class="menu-body">
            <ul class="nav flex-column sidenav">
                <li class="nav-item">
                    <a [routerLink]="['home']" class="logo-container">
                        <img src="assets/images/yams.png" class="logo" />
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['home']" class="nav-link">
                        <i class="fa fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item nested" [ngClass]="{'expand' : showMenu === 'pages' }">
                    <a (click)="addExpandClass('pages')" class="nav-link"><i class="fa fa-chevron-circle-down"></i><span>Pages</span></a>
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['components']" class="nav-link"><span>Components</span></a>
                        </li>
                        <li>
                            <a [routerLink]="['blankpage']" class="nav-link"><span>Blank Page</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['']" class="nav-link"><i class="fa fa-sign-out"></i><span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</aside>
